/* Toggle Styles */

#form-content-wrapper {
    margin-left: 250px
}

#form-content-wrapper control-label {
    margin-left: 0px
}

@media(min-width:568px) {
    #form-content-wrapper {
        position: relative;
    }
}